@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --black: #111111;
    --white: #FFFFFF;
    --font: 'JetBrains Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: var(--font);
}

a {
    all: unset;
    cursor: pointer;
}

body {
    background-color: var(--white);
    color: var(--black);
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.accordion {
    margin-top: 40px;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-top: 1px solid var(--black);
    padding: 15px 0;
}

.accordion-icon {
    width: 15px;
    background-image: url("../img/angle-down-solid.svg");
    background-repeat: no-repeat;
    transition: .3s ease-in-out;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.accordion-content p {
    margin-bottom: 24px;
}

.active .accordion-content {
    max-height: 150px;
}

.active .accordion-icon {
    transform: rotate(180deg);
}